*.iml
.vs
/Serializar_Deserealizar/00_Biblioteca/bin
/Serializar_Deserealizar/00_Biblioteca/obj
/Serializar_Deserealizar/01_SerializarXML/bin
/Serializar_Deserealizar/01_SerializarXML/obj
/Serializar_Deserealizar/02_SerealizarXML/bin
/Serializar_Deserealizar/02_SerealizarXML/obj